[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
behave = "*"

[packages]
thoth-python = "*"
click = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
thoth-common = {extras = ["openshift"],version = "*"}
thoth-storages = "*"

[requires]
python_version = "3.6"
