[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
behave = "*"

[packages]
thoth-python = "*"
click = "==6.6"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
thoth-common = "*"
thoth-storages = "*"

[requires]
python_version = "3.8"
